.DS_Store
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/*.so
/lib/tcltk_version.rb
/*.gem
*.bundle
*.dSYM/
*.o
ext/**/Makefile
screenshots/unverified/
screenshots/diffs/
screenshots/logs
